name: codename-scnr
services:
  app:
    build:
      dockerfile: Dockerfile
    image: ecsypno/codename-scnr
    working_dir: /home/codename-scnr
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    ports:
      - 9191:9191 # Pro WebUI.
      - 7331:7331 # Free.
      - 7332:7332 # Free.
      - 7333:7333 # Free.
  db:
    image: postgres
    restart: always
    environment:
      PGUSER: root
      POSTGRES_DB: scnr_pro_production
      POSTGRES_USER: scnr-pro
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "scnr_pro_production", "-U", "scnr-pro" ]
      interval: 1s
      timeout: 5s
      retries: 10
